@{
    ViewData["Title"] = "Product List";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

@using System.Data
@model DataTable

<div class="page-content-wrapper">
    <div class="portlet light bordered margin-top-10">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-directions font-green hide"></i>
                <span class="caption-subject bold font-dark uppercase">Product List</span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided">
                    <a asp-area="Product" asp-controller="Product" asp-action="Add" class="btn green btn-rounded"><i class="fa fa-plus"></i>&nbsp;Add Product</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-wrapper">
    <div class="portlet light bordered ">
        <div class="portlet-body" style="overflow-x :auto">
            <form asp-area="Product" asp-controller="Product" asp-action="PR_Product_SelectByFoodCategoryIDProductName">
                <div class="row">
                    @if (ViewBag.FoodCategoryList != null)
                    {
                        <div class="col-lg-3">
                            <div class="form-group">
                                <select class="form-control FoodCategoryDropDown" name="FoodCategoryID" asp-items="@(new SelectList(ViewBag.FoodCategoryList, "FoodCategoryID", "FoodCategoryName").ToList()) ">
                                    <option>Select FoodCategory</option>
                                </select>
                            </div>
                        </div>
                    }
                    <div class="col-lg-3">
                        <input name="ProductName" id="ProductName" type="text" placeholder="Enter Product Name" class="form-control" />
                    </div>
                    <div class="col-lg-3 d-inline">
                        <input type="submit" class="btn btn-primary" value="Search" />
                        <a asp-area="Product" asp-controller="Product" asp-action="Index" class="btn btn-danger">Clear Filter</a>
                    </div>
                </div>
            </form>
            <table class="table table-striped table-bordered table-hover table-header-fixed dataTable margin-top-10">
                <thead>
                    <tr class="">
                        <th>No.</th>
                        <th>UserName</th>
                        <th>FoodCategoryName</th>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Product Image</th>
                        <th>CreationDate</th>
                        <th>ModificationDate</th>
                    </tr>
                </thead>
                <tbody id="sample_2">
                    @{
                        int i = 1;
                    }
                    @foreach (DataRow dr in Model.Rows)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@dr["UserName"]</td>
                            <td>@dr["FoodCategoryName"]</td>
                            <td>@dr["ProductName"]</td>
                            <td>@dr["Description"]</td>
                            <td>@dr["Price"]</td>
                            <td><img src="@Url.Content(dr["ProductImage"].ToString())" alt="@dr["ProductName"]" style="height:50px; width:50px"></td>
                            <td>@dr["CreationDate"]</td>
                            <td>@dr["ModificationDate"]</td>
                            <td class="text-center d-flex" style="padding-right:0px;">
                                <form method="post" asp-area="Product" asp-controller="Product" asp-action="Delete">
                                    <input type="hidden" name="ProductID" value="@Convert.ToInt32(dr["ProductID"])">
                                    <button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete : @dr["ProductName"]');"><i class="fa fa-close"></i></button>
                                    <a class="btn btn-info btn-xs" style="float:right;" asp-area="Product" asp-controller="Product" asp-action="Add" asp-route-ProductID="@Convert.ToInt32(dr["ProductID"])"><i class="fa fa-pencil" style="font-size:7px"></i></a>
                                </form>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


